# Node dependencies
node_modules/

# Ember build output
dist/
tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Editor / IDE settings
.vscode/
.idea/
*.swp

# Coverage reports
coverage/

# Ember optional files
.npmrc
.broccoli-persistent-filter-cache/
